@font-face {
  font-family: "Comicy";
  src: url(./assets/font/Comicy.ttf);
}

@font-face {
  font-family: "ExxaGame";
  src: url(./assets/font/ExxaGame.ttf);
}

@font-face {
  font-family: "GamePlayedOutline";
  src: url(./assets/font/GamePlayedOutline.otf);
}
@font-face {
  font-family: "TTTravelsNextBlack";
  src: url(./assets/font/TTTravelsNextBlack.ttf);
}
@font-face {
  font-family: "TTTravelsNextBlackOutline";
  src: url(./assets/font/TTTravelsNextBlackOutline.ttf);
}

@font-face {
  font-family: "Microsoft YaHei";
  src: url("./assets/font/MicrosoftYaHeiB.ttf");
}
