@font-face {
  font-family: "Comicy";
  src: url(/src/assets/font/Comicy.ttf);
}

@font-face {
  font-family: "ExxaGame";
  src: url(/src/assets/font/ExxaGame.ttf);
}

@font-face {
  font-family: "GamePlayedOutline";
  src: url(/src/assets/font/GamePlayedOutline.otf);
}
@font-face {
  font-family: "TTTravelsNextBlack";
  src: url(/src/assets/font/TTTravelsNextBlack.ttf);
}
@font-face {
  font-family: "TTTravelsNextBlackOutline";
  src: url(/src/assets/font/TTTravelsNextBlackOutline.ttf);
}
